* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    text-align: center;
    font-weight: bold;
}

.images_group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.gallery {
    width: 450px;
}

.image {
    width: 100%;
    height: auto;
    height: 300px;
    object-fit: cover;
    transition: all .3s linear;
    cursor: pointer;
}

.image:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.726);
}

.gallery_lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox_image {
    width: 1000px;
}

span {
    position: absolute;
    top: 10%;
    left: 90%;
    transition: all .3s linear;
    font-size: 4rem;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

span:hover {
    background-color: rgb(255, 64, 64);
    border: none;
}
