*{
    margin: 0;
    padding: 0;
}

:root {
    --fontPrimary: "Inter", sans-serif;
    --color0: hsl(0, 0%, 20%);
    --color1: hsl(0, 0%, 12%);
    --color2: hsl(0, 0%, 8%);
    --color3: hsl(0, 0%, 100%);
    --color4: hsl(75, 94%, 57%);
}

body {
    min-height: 100vh;
    background-color: var(--color2);
    color: var(--color3);
    font-family: var(--fontPrimary);
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    background-color: var(--color1);
    max-width: 300px;
    width: 80%;
    border-radius: 15px;
    padding: 30px 30px 10px 30px;
}

.img-profile img {
    border-radius: 50%;
    width: 100px;
    margin: 10px 0px;
}

h1 {
    font-size: 27px;
    margin-top: 10px;
}

h2 {
    color: var(--color4);
    font-size: 15px;
}

p {
    font-size: 15px;
    margin: 20px 0;
}
li {
    margin: 16px 0;
}

li a{
    background-color: var(--color0);
    display: block;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color3);
}

li a:active {
    background-color: var(--color4);
    color: var(--color2);
}

footer {
    position: absolute;
    bottom: 10px;
}

.attribution { 
    font-size: 11px; 
     
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}